.vs/

MRP_Fatec/obj/
modulos/1cadastro_componentes/mrp_template/obj/
modulos/2estoque_componentes/Controle_de_estoque_prod/obj/
modulos/3compras/ModuloCompras/obj/
modulos/4cadastro_produtos/MRPPROJETO/obj/
modulos/5estoque_produtos/mrp_template/obj/
